/*---------------------------------------------------
Fonts
---------------------------------------------------*/

/*
@font-face {
font-family: 'QuattrocentoSans';
src: local('QuattrocentoSans'), url('../fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('truetype');
}
*/


/*---------------------------------------------------
General
---------------------------------------------------*/

html {
}

body {
  color: #41445d;
	background: #dcdde9 url(../img/bg.png) repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
}

a {
  color: #296A46;
}

.container {
  background: rgba(255,255,255,0.4);
  margin-top: 20px;
}

/*---------------------------------------------------
	Header
------------------------------------------------*/

.header {
  margin: 20px 0 20px;
}


/*---------------------------------------------------
	Search
------------------------------------------------*/

#search {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}


/*---------------------------------------------------
	Results
------------------------------------------------*/


/*---------------------------------------------------
	Add
------------------------------------------------*/

#main #results form label {
  font-weight: bold;
}

#main #results form .helptext {
  font-size: 90%;
}

/*---------------------------------------------------
	Footer
------------------------------------------------*/

.footer {
  margin-top: 15px;
}


/*---------------------------------------------------
	Media Queries
---------------------------------------------------*/

@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
/* Style adjustments for landscape mode goes here */
}

