/*---------------------------------------------------
Fonts
---------------------------------------------------*/


/*---------------------------------------------------
General
---------------------------------------------------*/

html {
  height: 100%;
}

body {
  font-family: Georgia, Times, serif;
	font-size: 1em;
	line-height: 1.4;
  color: #666;
  position: relative;
	height: 100%;
}

header,
div#main,
footer {  
		padding: 10px 0 20px;
}

header > h1,
div#main > section,
footer > p {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
}


/*---------------------------------------------------
	Header
------------------------------------------------*/

header {
  margin: 20px 0 0;
}

header h1 {
  font-size: 40px;
  font-family: "IstokWeb", 'Comic Sans';
}


/*---------------------------------------------------
	Search
------------------------------------------------*/

#main #search {
  padding: 15px 10px;
  border: 1px solid #ccc;
  background: #ddd;
  border-radius: 2px;
}

input {
  border: 1px solid #ccc;
  border-radius: 2px;
}

#main #search .searchbox {
  font-size: 22px;
  line-height: 22px;
  display: inline-block;
  width: 80%;
  padding: 10px 4px 5px;
  margin-right: 5px;
  border: 0;
  background: #fff;
  position: relative;
}


#main #search .search-btn {
  font-size: 22px;
  line-height: 22px;
  display: inline-block;
  padding: 10px 8px 5px;
}


/*---------------------------------------------------
	Media Queries
---------------------------------------------------*/

@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
/* Style adjustments for landscape mode goes here */
}

