{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Siglapedia</title>
  <meta name="description" content="Siglapedia">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" media="screen" href="{% static 'css/bootstrap-responsive.min.css' %}" />
  <link rel="stylesheet" media="screen" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}" />
</head>
<body>
  <div class="container well">
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
    chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <header class="header">
      <h1>Siglapedia</h1>
    </header>

    <div id="main" role="main">       
      <section id="search">
        <form class="form-inline" method="get" action="/pesquisa/">
          <input type="text" name="q" class="placeholder" /><input type="submit" class="btn" value="Procurar" />
        </form>
      </section><!-- /#search-->
      <section id="results">   
        {% if notfound %}
        {% if user.is_authenticated %}
        <h3>A sigla "{{ querystring }}" ainda não existe na nossa base de dados. Adiciona-a!</h3>
        <form class="form-horizontal" action="/adicionar/" method="POST">{% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-block" type="submit" value="Adicionar!" />
        </form>
        {% else %}
        <h3>A sigla "{{ querystring }}" não existe na nossa base de dados.</h3>
        {% endif %}
        {% endif %}
      </section><!-- /.results-->
    </div>
    
    <footer class="footer">
      <p><small>Mais uma ferramenta posta na mesa pelo <a href="http://transparenciahackday.org">Transparência Hackday</a></small></p>
    </footer>
  </div><!-- /.container-->
 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>')</script>

</body>
</html>
